body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: 500;
  /* background: radial-gradient(rgba(65, 120, 225, 10%), rgba(65, 120, 225, 50%)); */
  background: url(images/clouds.jpg) top/cover;
  background-size: 100%;
}

p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.1rem white;
  width: 60vw;
  margin-right: 0 !important;
  padding: 0;
  margin: 0;
}
@media (max-width: 450px) {
  p {
    font-size: 2rem;
  }
}

textarea {
  height: 25vh;
}

img {
  opacity: 0.6;
  transform: rotate(-10deg);
  transition: all 1s ease-in;
  transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
}

.navbar {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.5rem;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  font-family: "Great Vibes", cursive;
  height: 61px;
}

.nav-item {
  text-align: right;
  color: rgba(0, 0, 0, 70%);
}

.nav-item:hover {
  color: rgba(0, 0, 0, 50%);
}

.navbar.scrolled {
  background: linear-gradient(rgba(65, 120, 225, 0%), rgba(65, 120, 225, 80%));
  /* background: linear-gradient(rgb(255, 162, 51, 0%), rgba(255, 162, 51, 80%)) */
}

.navbar.scrolled .navbar-brand {
  color: white;
  transition: color 0.3s ease-in;
}

.navbar.scrolled .nav-item {
  color: white;
  transition: color 0.3s ease-in;
}

.navbar.scrolled .nav-item:hover {
  color: rgba(255, 255, 255, 70%);
}

@media (min-width: 992px) {
  .navbar {
    font-size: 1.5rem;
  }
}
